doctype html
html
  head
    title= title
    link(rel="stylesheet", href="./css/style.css")
  body
    h1= message
    article 
        header 
            h2=name 
        figure 
            img(src="./img/cat.jpg", class="big small trans") 
        p=age 
        p=weight
        
    script(src="./js/main.js") 